%form
  %label
    %span Forename
    %input{:name => "Forename", :required => "", :type => "text"}/
  %label
    %span Surname
    %input{:name => "Surname", :required => "", :type => "text"}/
  %label
    %span Email
    %input{:name => "Email", :required => "", :type => "text"}/
  %label
    %span Password
    %input{:name => "Password", :required => "", :type => "password"}/
